/* body {
    background-color: #fefefe;
    font-size: 13px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    sans-serif;
    width: 50%;
    margin: 4% auto;
}
 */
