body {
    background-color: #fefefe;
    font-size: 12px;
    font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
    sans-serif;
    overflow: hidden;
}

#hover {
    position: absolute;
    padding: 0% 25%;
    width: 50%;
    text-align: center;
}

